/*Generales*/

* {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-family: "Pinyon Script";
  font-size: 72px;
}
p,
a,
h2,
h3,
h4,
ul,
li {
  font-family: "raleway";
}

h1::selection {
  background-color: crimson;
}
h2::selection {
  background-color: crimson;
}
h2::selection {
  background-color: crimson;
}
a::selection {
  background-color: crimson;
}
p::selection {
  background-color: crimson;
}

/*-------------------------------------------------- */

/*HEADER*/

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 50px;
  border-radius: 999px;
}

.menu {
  list-style-type: none;
  color: black;
}

.menu li {
  display: inline;
}
.menu a {
  padding: 10px;
}

a:hover {
  color: crimson;
  background-color: #f5daca;
  border-radius: 10px;
}

/* END HEADER*/

/*-------------------------------------------------- */

/*MAIN*/

.main {
  padding: 10px;
  background-color: #f5daca;
}
.main h1 {
  text-align: center;
}

.main_container {
  margin-bottom: -10rem;
}
.main_box_circle {
  left: 2rem;
  border-radius: 999px;
  position: relative;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  border: 1px solid white;
  background-color: white;
  overflow: hidden;
  animation: fadeInDown;
  animation-duration: 1500ms;
}

.main_box_img {
  object-fit: fill;
  position: relative;
  top: -7rem;
  left: 7rem;
  /*Appearence
    border: 1px solid white;
    */
  animation: fadeInLeft;
  animation-duration: 1.5s;
}

.main_box_img img {
  max-width: 70%;
}

.main_box_text {
  position: relative;
  top: -13rem;
  left: 20rem;
  max-width: 50%;
  border: 1px solid white;
  background-color: white;
  overflow: hidden;
  animation: flipInX;
  animation-duration: 1500ms;
}

/* END MAIN*/

/*-------------------------------------------------- */

/*FOOTER*/
footer {
  /*Al padre le doy display:flex*/
  color: rgb(66, 66, 58);
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .redes {
  /*le doy tamaño de fuente al div redes y los hijos lo heredan se ajustan proporcionalmente*/
  font-size: 1.5em;
}

footer .redes i {
  /*cambio el color de los iconos redes*/
  color: rgb(145, 99, 134);

  transition: 0.2 all;
}
footer .redes i:hover {
  color: rgb(110, 110, 92);
}
/* END FOOTER*/

/*MEDIA QUERIES*/
/*Para dispositivos mobiles de hasta 600px*/
@media only screen and (max-width: 600px) {
  header {
    background-color: rgb(245, 245, 222);
    font-size: 1em;
  }
  header,
  main,
  footer {
    padding: 5px;
  }
  body {
    font-size: 14px;
  }
  .main h1 {
    /*color de fondo de Nuestros tratamientos esteticos*/
    padding: 10px 0px;
    font-size: 2.5em;
  }
  .main .presentacion {
    /*padre contenedor*/
    padding: 5px; /* separo las cajas de producto de arriba y abajo*/
    background-color: beige;
  }
  .main .presentacion article {
    /*las tarjetas ocupan el 80% del viewport*/
    width: 80%;
    display: flex;
    padding: 10px;
  }
  .main .presentacion article img {
    /*imagen de los articulos*/
    width: 200px;
  }
  .main .presentacion article a {
    /*hipervinculos*/
    margin: 0px;
    padding: 0px;
  }
  .main .presentacion article a h2 {
    /*subtitulo de los articulos*/
    font-size: 1.3em;
    background-color: rgb(92, 88, 92);
  }
  article #Card {
    width: 75vw;
    padding: 5px;
    border: 5px solid rgb(145, 145, 122);

    flex-direction: column; /*indico como quiero que se ubiquen los articulos: en columnas uno debajo del otro*/
  }
  article #Card img {
    /*foto de cada tarjeta*/
    width: 80%;
    border-radius: 10px;
  }
  article #Card .titulo_tarjeta {
    /*h3:subtitulo de cada tratamiento*/
    letter-spacing: 4px;
  }
  article #Card a {
    /*hipervinculo: solicitar mas informacion*/
    position: absolute;
    bottom: -15px;
  }
  .logo {
    /*logo empresa*/
    width: 70px;
  }
}

.menu {
  z-index: 1;
  margin: auto;
  background-color: #f5f5de;
  width: 100%;
  position: absolute;
  top: 80px;
  right: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.menuBurger img {
  width: 50px;
  height: 50px;
}
.inactive {
  display: none;
}

@media (min-width: 768px) {
  .noneBurger {
    display: none;
  }

  .active {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  li {
    display: inline-block;
    transition: all 0.3s ease;
  }
  li a {
    padding: 10px;
  }
  .active li a:hover {
    outline-offset: -2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -10px;
  }
}

/*Para dispositivos del al menos 600px como minimo: notebooks*/
@media only screen and (min-width: 600px) {
  article #Card img {
    /*foto de cada tarjeta*/
    width: 40%;
  }
  article #Card a {
    /*hipervinculo:solicitar mas informacion*/
    position: absolute;
    bottom: -10px;
  }
  .facial h2,
  .corporal h2,
  .aparatologia h2 {
    /*titulo Tratamientos Faciales/ Corporales /Aparatologia estetica*/
    font-size: 20px;
  }
  .logo {
    /*logo empresa*/
    width: 70px;
  }
}

/*Para dispositivos del al menos 1000px como minimo, es decir 1000px en adelante monitores grandes*/
@media only screen and (min-width: 1000px) {
  article #Card img {
    width: 20%;
  }
  article #Card a {
    /*hipervinculo:solicitar mas informacion*/
    position: absolute;
    right: 5px;
    bottom: 10px;
  }
  .logo {
    /*logo empresa*/
    width: 85px;
  }
}
