
/*Generales*/

* {

    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-family:'Times New Roman', Times, serif
    }
      
      h1{
        font-family: "Pinyon Script";
        font-size: 72px;
      }
      p, a, h2, h3, h4, ul, li{
        font-family: "raleway";
    }
    
    .container {
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-radius: 10px;
        background-color: white;
    }
    
    h1::selection{
        background-color: crimson;
    }
    a::selection{
        background-color: crimson;
    }
    p::selection{
        background-color: crimson;
    }
    
    /*-------------------------------------------------- */
    
    /*HEADER*/
    
    header {
        display: flex;
        justify-content: space-between;
        background-color: white;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
    
    .logo {
        width: 50px;
        border-radius: 999px;
    }
    
    .menu {
        list-style-type: none;
        color: black;
    }
    
    .menu li {
        display: inline;
    
    }
    .menu a{
        padding: 10px;
    }
    
    a:hover{
        color: crimson;
        background-color: #f5daca;
        border-radius: 10px;
    
    }
    
    /* END HEADER*/
    
    /*-------------------------------------------------- */
    
    /*MAIN*/
    
    .main {
        padding: 10px;
        background-color: #f5daca;
    
    }
    .main h1{
        text-align: center;
    }
    
    .main_container{
        margin-bottom: -10rem;
    }

    
    /* END MAIN*/
    
    /*-------------------------------------------------- */
    
    /*FOOTER*/
    .footer {
        padding: 10px;
    }
    
    /* END FOOTER*/